<section id="services" class="services-section">
  <div class="services-container">
    <div class="services-image">
      <img src="assets/hero.jpg" alt="Services Image" />
    </div>
    <div class="services-text">
      <h2 class="section-header">Professional Services Offered</h2>
      <ul>
        <li class="section-desc">Electronic Waste Disposal & Certification</li>
        <li class="section-desc">Transportation and Logistics Services</li>
        <li class="section-desc">Hardware and Software Audit</li>
        <li class="section-desc">Hardware Procurement</li>
        <li class="section-desc">Software Procurement</li>
        <li class="section-desc">Raw Material Procurement</li>
      </ul>
      <ul>
        <li class="section-desc">Hardware and Software Maintenance and Monitoring</li>
        <li class="section-desc">Implementing Technology Asset Management Tools and Best Practices</li>
        <li class="section-desc">Project Management and Overview</li>
        <li class="section-desc">Software Compliance</li>
        <li class="section-desc">Business Continuity Planning</li>
        <li class="section-desc">Staff Optimization and Placement</li>
      </ul>
    </div>
  </div>
</section>
